# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.metadata
.DS_Store
RemoteSystemsTempFiles/.project
SEF-Video-Rental-System/.DS_Store
SEF-Video-Rental-System/.settings/org.eclipse.jdt.core.prefs